<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scsms.mapper.OrderMapper">
    <resultMap id="orderMapper" type="com.scsms.pojo.Order">
        <result property="id" column="id"></result>
        <result property="saleCarId" column="sale_car_id"></result>
        <result property="buyerId" column="buyer_id"></result>
        <result property="sellerId" column="seller_id"></result>
        <result property="price" column="price"></result>
        <result property="creatTime" column="create_time"></result>
        <association property="saleCar" column="car_id" javaType="com.scsms.pojo.SaleCar">
            <result property="id" column="id"></result>
            <result property="carId" column="car_id"></result>
            <result property="price" column="price"></result>
            <result property="km" column="km"></result>
            <result property="color" column="color"></result>
            <result property="views" column="views"></result>
            <result property="storeId" column="store_id"></result>
            <result property="userId" column="user_id"></result>
            <result property="createTime" column="create_time"></result>
            <result property="buyTime" column="buy_time"></result>
            <result property="publish" column="publish"></result>
            <association property="car" column="car_id" javaType="com.scsms.pojo.Car">
                <result property="id" column="id"></result>
                <result property="brand" column="brand"></result>
                <result property="series" column="series"></result>
                <result property="model" column="model"></result>
                <result property="structure" column="structure"></result>
                <result property="fuel" column="fuel"></result>
                <result property="price" column="price"></result>
                <result property="logo" column="blogo"></result>
                <result property="cxLogo" column="cxLogo"></result>
            </association>
        </association>
    </resultMap>

    <!--查询该用户的买车记录-->
    <select id="getBuyOrder" parameterType="Integer" resultMap="orderMapper">
        select o.*, s.*, c.* from `order` o left join t_sale_car s on o.sale_car_id = s.id left join t_car c on s.car_id = c.id where o.buyer_id = #{id}
    </select>

    <!--查询该用户的卖车记录-->
    <select id="getSaleOrder" parameterType="Integer" resultMap="orderMapper">
        select o.*, s.*, c.* from `order` o left join t_sale_car s on o.sale_car_id = s.id left join t_car c on s.car_id = c.id where o.seller_id = #{id}
    </select>

</mapper>